.user-info{
    line-height: 1.2px;
    
}

.profile{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    margin-left: 20px;
    margin-right: 5px;
}
.main-btn{
    width: 150px;
    height: 30px;
    background-color: seagreen;
    border: 1px solid seagreen;
    border-radius: 7px;
    cursor: pointer;
}